# These owners will be the default owners for everything in the repo. 
# For more info, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*  @peter-paystack @michael-paystack @PaystackHQ/mobile @dami-paystack @vusi-paystack
