.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
Example/Pods/*
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# User data:
Example/paystack-sdk-ios.xcodeproj/xcuserdata
Example/paystack-sdk-ios.xcworkspace/xcshareddata
Example/paystack-sdk-ios.xcworkspace/xcuserdata
Example/paystack-sdk-ios.xcworkspace/contents.xcworkspacedata